export(eNetXplorer,print.eNetXplorer,
summary.eNetXplorer,print.summary.eNetXplorer,
plot.eNetXplorer,plotSummary,plotLambdaVsQF,plotMeasuredVsOOB,
plotContingency,plotFeatureCaterpillar,plotFeatureHeatmap,plotKaplanMeier,plotSurvROC,
summaryPDF,export,mergeObj)

import(glmnet,stats,Matrix,RColorBrewer,calibrate,progress,survival,survcomp,timeROC)

importFrom("graphics", "abline", "arrows", "axTicks", "axis",
             "boxplot", "lines", "mtext", "par", "plot", "points",
             "polygon", "symbols", "title")
importFrom("methods", "as")
importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off",
             "pdf", "rgb")
importFrom("gplots","heatmap.2","redgreen")
importFrom("expm","sqrtm")

S3method("print","eNetXplorer")
S3method("plot","eNetXplorer")
S3method("summary","eNetXplorer")
S3method("print","summary.eNetXplorer")

